* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
}
body {
  background-image: url('../images/bgs.jpg');
  background-attachment: fixed;
  font-family: 'Courier New', Courier, monospace;
}
.wrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.95);
}
header {
  width: 100%;
  border-bottom: 1px solid #c4d7e8;
  box-shadow: black 0px 10px 20px;
  border-radius: 0 0 45% 45%;
  margin-bottom: -100px;
  z-index: 1;
}
header img {
  width: 100%;
  border-radius: 0 0 45% 45%;
}
header div.divban {
  position: absolute;
  right: 2%;
  top: 59%;
  color: #00f4f3;
  width: 300px;
  font-size: 1.5rem;
}
header div.divban .one {
  border-radius: 25px 25px 5px 5px;
  width: 97.5%;
  margin: 0 auto;
}
header div.divban .two {
  border-radius: 5px 5px 50px 50px;
  width: 97.5%;
  margin: 0 auto 1px;
}
header div.divban fieldset {
  background-color: black;
  color: #00f4f3;
  padding: auto 0px;
  border-radius: 50px;
  border: 2px solid #00f4f3;
  text-align: center;
}
header div.divban fieldset a {
  display: block;
  color: #c4d7e8;
  text-decoration: none;
  background: none;
  transition: background 0.5s ease-out 0s;
}
header div.divban fieldset a:hover {
  display: block;
  color: black;
  text-decoration: none;
  background: #c4d7e8;
}
header div.divban fieldset legend {
  background-color: black;
  border-radius: 15px;
  padding: 0 5px;
  margin-left: 5px;
  color: #00f4f3;
  font-weight: bolder;
}
.container {
  width: 100%;
  border-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container nav {
  width: 17.5%;
  border-top: 0px;
  vertical-align: top;
  padding: 25px 10px;
  font-size: 1.5rem;
}
.container nav img {
  margin-bottom: 25px;
}
.container nav a {
  display: block;
  color: #c4d7e8;
  text-decoration: none;
  transition: background 0.5s ease-out 0s;
}
.container nav a:hover {
  display: block;
  color: black;
  background-color: #c4d7e8;
  text-decoration: inherit;
}
.container .main {
  width: 60%;
  color: #00f4f3;
  border: 1px groove #c4d7e8;
  border-top: none;
  border-bottom: none;
  padding-top: 25px;
  white-space: pre-line;
  font-size: 1.5rem;
  border-radius: 7.5%;
}
.container .main h2 {
  text-align: center;
  border-top: 2px ridge #c4d7e8;
  border-bottom: 2px groove #c4d7e8;
  font-family: 'Courier New', Courier, monospace;
  margin: 0px 0px 25px;
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 0 0 25px 0;
  border-radius: 10%;
  background: rgba(0, 0, 0, 0.95);
  position: relative;
  z-index: 2;
}
.container .main p {
  padding: 0 10%;
  text-indent: -20px;
}
footer {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-size: 1.25rem;
  color: #00f4f3;
  border-top: 1px ridge #c4d7e8;
  border-radius: 100%;
  z-index: 1;
}
